<section>
  {% if context.products | length > 0 %}
  {%ui "header-page.njk", title=context.collection.title %}
  <div class="container  md:py-[88px] py-6  flex  flex-col md:gap-10 gap-6">
    <div class="flex flex-col md:gap-8 gap-4">
      {%ui "filter.njk" %}
      <div class=" grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4  md:gap-x-6 md:gap-y-7 gap-x-[9px] gap-y-2 ">
        {% for product in context.products %}
        {%ui "product-card.njk" ,product=product %}
        {% endfor %}
      </div>
    </div>
    {%ui "pagination.njk" %}
  </div>
  {% else %}
  {%ui "empty.njk", title="لا يوجد منتجات في هذه المجموعة" %}
  {% endif %}
</section>