<section class="product-listing py-8">
    <div class="container flex flex-col gap-4 pt-4">
    {%ui "header-page.njk",bg_color="bg-white", title=widget.data.section_title | default('أقسامنا') %}
    <div class="flex flex-col items-center gap-10">
        <div class="grid grid-cols-2 md:grid-cols-5 md:gap-6 gap-y-[14px] gap-x-4 text-center">
        {% for collection in context.collections %}
        <a href="collection/{{ collection.handle }}" class="flex flex-col items-center">
          <div class="rounded-full group md:w-[210px] md:h-[210px] w-[156px] h-[156px] relative overflow-hidden">
            {% if collection.image and collection.image.fileUrl %}
            <img src="{{ collection.image.fileUrl }}" class="w-full h-full object-cover cursor-pointer group-hover:scale-105 transition-all duration-300 " alt="[{{ collection.title }}]">
            {% else %}
            <div class="w-full h-full bg-gray-100"></div>
            {% endif %}
            <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex items-center justify-center flex-col">
            <span class=" bg-white px-3 
            rounded-full font-medium text-xl min-w-[98px]">{{ collection.title }}</span>
            <span class=" text-white font-bold">{{collection.productCount | default(0) }} منتج</span>
          </div>
        </div>
        </a>
        {% endfor %}
      </div>
      {%ui "pagination.njk" %}
    </div>

    </div>
  </section>
  
  