<section
  style="background-image: url({{ widget.data.image.fileUrl }}); background-size: cover; background-position: top left;
    background-repeat: no-repeat; background-attachment: fixed;"
  class="md:bg-[length:50%_100%] bg-[length:80%_100%] relative overflow-hidden">
  <!-- الخلفية المعكوسة -->
  <div
    class="absolute inset-0 bg-no-repeat bg-center bg-[length:100%_100%] {% if t('dir') =="ltr" %} scale-x-[-1] {% endif %} "
    style="background-image: url({{ 'banner-fram.png' | assets }});"></div>
  <!-- المحتوى فوق الخلفية -->
  <div class="relative z-10">
    <div class="grid grid-cols-2 items-center justify-between">
      <div class="container py-4 lg:py-[30px] flex flex-col md:gap-7 gap-4">
        <div class="flex flex-col md:gap-5 gap-2">
          <h2 class="md:font-extrabold md:leading-[60px] font-bold leading-[34px] text-secondary text-[22px] md:text-[40px]">
            {{ t('exclusive_offers') }}
          </h2>
          <p class="text-secondary text-xs md:text-2xl md:leading-[36px] leading-[149%]">
            {{ t('dont_miss_offer') | striptags }}
          </p>
        </div>
        <div
          class="inline-flex flex-col items-start gap-3 w-max">
          {% if  widget.data.hasTimer %}
          <component-baner-date :days="{{ widget.data.timer }}" :translations="{
                                                        days:'{{ t('days') }}',
                                                        hours: '{{ t('hours') }}',
                                                        minutes:'{{ t('minutes') }}',
                                                        seconds: '{{ t('seconds') }}'
                                                      }"></component-baner-date>
          {% endif %}
          <a href="{{ widget.data.button_link | default('/collections') }}" class="md:bg-secondary bg-white flex justify-center items-center md:text-white text-secondary rounded-lg md:font-bold font-semibold text-sm leading-[12px]
                                                                                   w-full md:text-base py-3 md:py-3.5 px-[37px] md:px-12 transition-opacity hover:opacity-95">
            {{ t('get_offer_now') }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>