<section class="md:py-16 py-6 bg-gray-50">
  <div class="container flex flex-col gap-9">
    <div class="section-title-container ">
      <h2 class="section-title">{{ widget.data.title | default('منتجات قد تهمك') }}</h2>
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4  md:gap-x-6 md:gap-y-7 gap-x-[9px] gap-y-2 ">
      {% for product in widget.data.products_collection or [] %}
      {%ui "product-card.njk" ,product=product %}
      {% endfor %}
    </div>
  </div>
</section>


