<div class="bg-secondary flex items-center justify-center w-full md:py-[15px] py-[7px] md:text-2xl text-[15px] leading-[22px] text-white">
    {{weidgets.data.offer_text | default("أحصل على توصيل مجاني إذا طلبت بقيمة 600 جنيه")}}
</div>