  <!-- Why Choose Us Section -->
  <section class="py-16">
    <div class="container mx-auto px-6">
        <div class="section-title-container px-2 sm:px-4 lg:px-8">
             <h2 class="section-title">لماذا تختارنا؟</h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 lg:gap-8 px-2 sm:px-4 lg:px-8">
            <div class="reason-card border rounded-2xl p-10 text-center shadow-sm border-gray-300">
                <div class="flex justify-center mb-4"><span class="material-symbols-outlined text-5xl primary-orange-text">verified</span></div>
                <h3 class="text-2xl font-extrabold mb-3 text-gray-800">جودة مضمونة</h3>
                <p class="text-gray-600 leading-relaxed">نستخدم أفضل الخامات لضمان متانة تدوم<br>لسنوات طويلة</p>
            </div>
            <div class="reason-card border rounded-2xl p-10 text-center shadow-sm" style="border-color:#F59A57">
                <div class="flex justify-center mb-4"><span class="material-symbols-outlined text-5xl primary-orange-text">local_shipping</span></div>
                <h3 class="text-2xl font-extrabold mb-3 text-gray-800">جودة مضمونة</h3>
                <p class="text-gray-600 leading-relaxed">نستخدم أفضل الخامات لضمان متانة تدوم<br>لسنوات طويلة</p>
            </div>
            <div class="reason-card border rounded-2xl p-10 text-center shadow-sm border-gray-300">
                <div class="flex justify-center mb-4"><span class="material-symbols-outlined text-5xl primary-orange-text">support_agent</span></div>
                <h3 class="text-2xl font-extrabold mb-3 text-gray-800">جودة مضمونة</h3>
                <p class="text-gray-600 leading-relaxed">نستخدم أفضل الخامات لضمان متانة تدوم<br>لسنوات طويلة</p>
            </div>
        </div>
    </div>
</section>