<!-- FAQ Section -->
<section class="py-16 bg-gray-50">
  <div class="container flex flex-col md:gap-10 gap-4">
    <div class="section-title-container">
      <h2 class="section-title">{{ t('faq_title') }}</h2>
    </div>
    
    {% if widget.blocks.length > 0 %}
      <div class="space-y-4">
        {% for block in widget.blocks %}
        <div class="border rounded-lg bg-white overflow-hidden">
          <details class="faq-item">
            <summary class="font-semibold text-lg cursor-pointer flex justify-between items-center p-4">
             {{ t(block.data.question | default('question')) }}
              <span  
              class="material-symbols-outlined faq-arrow border border-gray-300 rounded-full transform duration-200"  >add</span>
            </summary>
            <p class="p-4 pt-0 text-gray-600">{{ t(block.data.answer | default('answer')) }}</p>
          </details>
        </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>

