<!-- FAQ Section -->
<section class="pt-4 pb-8 bg-white faq-section">
  <div class="container flex flex-col md:gap-10 gap-4">
    <div class="section-title-container">
      <h2 class="section-title md:text-[32px] text-[24px] font-bold">{{ t('frequently_asked_questions') }}</h2>
    </div>
    
    {% if widget.blocks.length > 0 %}
      {% set defaultQuestionKeys = ['how_to_return_product','shipping_duration_question','free_shipping_question'] %}
      {% set defaultAnswerKeys = ['return_policy_answer','shipping_duration_answer','free_shipping_answer'] %}
      <div class="space-y-4">
        {% for block in widget.blocks %}
        <div class="border rounded-lg bg-white overflow-hidden">
          <details class="faq-item">
            <summary class="font-normal text-lg cursor-pointer flex {% if t('dir') == 'rtl' %}justify-between{% else %}justify-between{% endif %} items-center p-4">
             {{ t(defaultQuestionKeys[loop.index0] or 'question') }}
              <span  
              class="material-symbols-outlined faq-arrow border border-gray-300 rounded-full transform duration-200 flex items-center justify-center w-7 h-7 md:w-8 md:h-8 text-sm md:text-base p-1 md:p-1.5">add</span>
            </summary>
            <p class="p-4 pt-0 text-gray-600">{{ t(defaultAnswerKeys[loop.index0] or 'answer') }}</p>
          </details>
        </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>

