<div v-cloak>
  <!-- Overlay خلفية ضبابية -->
  <div v-if="modal.open && modal.type==='cart'" class="fixed inset-0 bg-black bg-opacity-30 backdrop-blur-sm z-50"
    @click="toggleModal('cart')"></div>

  <!-- Modal Panel -->
  <transition name="slide-left">
    <div v-if="modal.open && modal.type==='cart'"
      class="fixed top-0 left-0 h-screen w-full md:max-w-[375px] max-w-[300px] bg-white shadow-lg z-[51] flex flex-col">

      <!-- Header -->
      <div class="flex justify-between items-center py-2 px-4 border-b">
        <span class="font-medium text-secondary">السلة</span>
        <button @click="toggleModal('cart')">
          <span class="material-symbols-outlined text-xl text-secondary">close</span>
        </button>
      </div>
      <div class="flex-1 overflow-auto  py-[27px]">
        <div class="px-4" v-if="globals?.cart?.items && globals?.cart?.items.length > 0">
          <template v-for="(item, index) in globals.cart.items" :key="item._id">
            <div class="flex flex-col gap-4">
              <div class="py-3 px-4 flex justify-between gap-2">
                <div class="flex gap-4 flex-1 min-w-0">
                  <img :src="item?.productData?.image?.fileUrl" class="w-[70px] h-[70px] rounded-lg" alt="fileUrl" />
                  <div class="flex flex-col gap-2 flex-1 min-w-0">
                    <div class="flex flex-col gap-1">
                      <p v-text="item.productData.title"
                        class="font-medium text-secondary truncate w-full overflow-hidden whitespace-nowrap"></p>
                      <template v-for="(option, idx) in item?.variantData?.options" :key="idx">
                        <div class="flex items-center gap-2">
                          <span class="text-[#7C7C7C] text-xs" v-text="option?.option?.name"></span>
                          <span class="text-xl font-bold">:</span>
                          <span class="text-[#7C7C7C] text-xs" v-text="option?.label"></span>
                        </div>
                      </template>
                      <div class="flex items-center gap-1">
                        <span class="text-primary text-sm font-semibold">[[ item.totalPrice ]] [[
                          globals?.currency?.currencySymbol ]]</span>
                        <span v-show="item.totalSavings > 0"
                          class="text-[#7C7C7C] text-xs font-semibold line-through">[[ item.totalCompareAtPrice ]] [[
                          globals?.currency?.currencySymbol ]]</span>
                      </div>
                    </div>
                    <div class="flex w-[90px] h-6 items-center gap-1.5">
                      <button
                        class="flex text-base w-full h-full material-symbols-outlined items-center justify-center border rounded border-strok cursor-pointer"
                        @click="increaseCartItem(item._id, item.quantity)">
                        add
                      </button>
                      <span class="w-full h-full flex items-center justify-center" v-text="item.quantity"></span>
                      <button
                        class="flex text-base w-full h-full material-symbols-outlined items-center justify-center border rounded border-strok cursor-pointer"
                        @click="decreaseCartItem(item._id, item.quantity)">
                        remove
                      </button>
                    </div>
                  </div>
                </div>
                <button @click="clearCartItem(item._id)" class="material-symbols-outlined text-[#7C7C7C] self-start">
                  delete
                </button>
              </div>
              <hr :class="index === globals?.cart?.items.length - 1 ? 'hidden' : ''" />
            </div>
          </template>
        </div>

        <div v-if="!globals?.cart?.items || globals?.cart?.items.length === 0" class="h-full">
          <div class="flex items-center h-full justify-center flex-col gap-11 px-[60px]">
            <div class="flex flex-col items-center gap-8">
              <a aria-label="latestproduct" href="/collection/all">
                <span style="font-size: 96px;" class="material-symbols-outlined text-gray">
                  shopping_cart_off
                </span>
              </a>
              <div class="flex flex-col items-center">
                <h5 class="font-medium">عربة التسوق فارغة</h5>
                <p class="text-sm text-gray text-center">أضف بعض المنتجات إلى عربتك للحصول على تجربة تسوق مميزة معنا!
                </p>
              </div>
            </div>
            <a aria-label="showproduct" href="/collection/all"
              class="hover:scale-105 w-full text-sm font-medium transition-all duration-300 flex justify-center items-center py-3 bg-primary rounded-lg text-white px-6">
              تسوق الآن
            </a>
          </div>
        </div>
      </div>

      <div v-if="globals?.cart?.items && globals?.cart?.items.length > 0"
        class="flex-none flex flex-col gap-5 py-6 shadow-[0px_0px_10px_0px_#E4E4E4] bg-white">
        <div class="flex justify-between pt-2 pb-[18px] px-9">
          <span class="text-sm">اجمالي الطلب</span>
          <span class="text-primary font-semibold text-lg"
            v-text="(globals?.cart?.totalPrice || 0) + ' ' + (globals?.currency?.currencySymbol || '')">
          </span>
        </div>
        <div class="flex flex-col md:gap-4 gap-2 px-[60px]">
          <span class="font-medium text-sm">أضف 150 ج.م إلى مشترياتك لتحصل على الشحن مجانًا!</span>
          <div class="relative w-full">
            <div class="bg-[#F4F4F4] rounded-full h-2 w-full"></div>
            <div class="absolute top-0 right-0 h-2 bg-primary rounded-full" style="width:50%"></div>
            <div class="absolute top-1/2 -translate-y-1/2" style="right:43%">
              <div class="rounded-full h-8 w-8 border border-primary bg-white flex items-center justify-center">
                <span
                  class="material-symbols-outlined text-[22px] transform -scale-x-100 text-primary">delivery_truck_speed</span>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center gap-4 px-4">
          <button :disabled="globalLoading.checkout" aria-label="إتمام الشراء" @click="checkout()"
            class="py-3 flex-1 bg-primary text-white rounded-lg text-sm font-medium flex justify-center items-center">
            <span v-show="!globalLoading.checkout">اشتري الان</span>
            <template v-if="globalLoading.checkout">
              <div class="flex justify-center">
                {%ui "loading.njk" %}
              </div>
            </template>
          </button>
          <a v-show="!isCartPage" href="/cart"
            class="font-medium text-primary text-sm py-3 border border-primary rounded-lg flex-1 flex justify-center items-center">
            عرض السلة
          </a>
          <button v-show="isCartPage" @click="toggleModal('cart')"
            class="font-medium text-primary text-sm py-3 border border-primary rounded-lg flex-1 flex justify-center items-center">
            عرض السلة
          </button>

        </div>
      </div>

    </div>
  </transition>
</div>