<div class="w-full justify-between flex items-center ">
    <div class="flex gap-2 items-center border border-stok rounded-lg py-[2px]">
      <div class="flex items-center gap-1.5 py-1.5 px-2">
        <span class="text-xs md:text-base font-medium">{{t('filter')}}</span>
        <span class="material-symbols-outlined text-lg md:text-[22px]">
          filter_alt
          </span>
      </div>
      <span class="border-r-2 border-stok h-8"></span>
      <div class="flex items-center gap-1.5 py-1.5 px-2">
        <span class="text-xs md:text-base font-medium">{{t('sort')}}</span>
        <span class="material-symbols-outlined text-lg md:text-[22px]">
          sort
          </span>
      </div>
    </div>
    <span class="material-symbols-outlined">
      view_module
      </span>
  </div>