<div class="py-8 lg:px-[100px] md:px-10 px-3 z-10{% if data.bg_color %} {{ data.bg_color }} {%else%} bg-white {% endif %}">
    <h2 class="md:text-4xl text-[22px] leading-[34px] font-bold {% if t('dir') == 'rtl' %}text-right{% else %}text-left{% endif %}">{{ t(data.title) }}</h2>
  </div>