<div class=" md:py-[22px] py-2.5 lg:px-[100px] md:px-10 px-3 sticky md:top-[75px] top-[56px] z-10{% if data.bg_color %} {{ data.bg_color }} {%else%} bg-hero2 {% endif %}">
    <h2 class=" md:text-4xl text-[22px] leading-[34px]  font-bold">{{ data.title }}</h2>
    <img class="md:w-[55px] md:h-[54px] w-[34px] h-[39px] absolute left-2 top-0 translate-y-1/3" src="{{'collection-hero.png' | assets }}" alt="">
  </div>