<div v-cloak>
  <!-- Overlay -->
  <transition name="fade">
    <div
      v-if="modal.open && modal.type==='search'"
      class="fixed inset-0 bg-black  bg-opacity-30 backdrop-blur-sm  z-50"
      @click="toggleModal('search')"
    ></div>
  </transition>

  <transition name="slide-down">
    <div
      v-if="modal.open && modal.type==='search'"
      class="fixed inset-0 z-50 h-max"
    >
      <div class="w-full bg-transparent px-4 py-2 flex items-center gap-3">
        <form @submit.prevent="setSearch(search)"
          class="items-center flex w-full bg-primary gap-[14px] rounded-lg py-[5px] pr-4 pl-[6px]">
          
          <button type="submit"
            class="bg-primary cursor-pointer rounded-full material-symbols-outlined text-xl text-white flex items-center justify-center w-5 h-5">
            search
          </button>
          
          <input v-model="search" ref="search" type="text" placeholder="ابحث عن منتج"
            class="placeholder-white w-full px-5 py-[2px] border border-[#C5C5C7] focus:outline-none rounded-lg bg-white text-primary">
        </form>
      </div>
    </div>
  </transition>
</div>

